<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Sign In:</h1>
    <form action="" method="post">
        <!-- Creating the parameter Username as type= "text"-->
        <label>Username: </label>
        <input type="text" placeholder="Name" name="username"><br><br>
        <!-- Creating the parameter Email as type= "text"-->
        <label>Password:</label>
        <input type="password" placeholder="Password" name="password"><br><br>
        <!-- Creating the submit button -->
        <button type="submit">Submit</button>
    </form>
    <h4>New user?:</h4>
    <h4><a href="/signup">click here</a></h4>
</body>
</html>